html{
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: flex; /*Превращаем контейнер в flexBox*/
    flex-direction: column;
    overflow: hidden;
    /*background: url("./images/background-grace.jpg") no-repeat;*/
    /*background-size: 100%;*/
}

header {
    flex: 0 0 auto; /*0 flex-grow, 0 flex-shrink, auto flex-basis*/
    display: block;
    height: 20%;
    /*background-image: url("./images/background-sky.jpg");*/
    width: 100%;
    vertical-align: top;
    text-align: center;
    background: linear-gradient(#8ac4e1, rgba(225, 135, 40, 0) 150%);
}

header .image {
    display: inline-block;
    width: 29%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    /*border: 1px solid black;*/
}

/*Блок с текстом в хедере*/
header .logo {
    display: inline-block;
    width: 39%;
    height: 100%;
    vertical-align: top;
    text-align: center;
}

 header .logo h1 {
    text-align: center;
    font-family: 'Baloo Tamma', cursive;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 6.25em;
    letter-spacing: 0.125em;
    text-shadow: -0.01em -0.01em 0 #2196f3, 0.03em 0.03em 0 #2196f3, 0.06em 0.06em 0 #0d47a1;
}

/*Блок с кнопкой в хедере*/
header .buttons-in-header {
    display: inline-block;
    width: 29%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    position: relative;
    /*border: 1px solid black;*/
}
/*Центральный блок с содержанием*/
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto; /*1 flex-grow, 0 flex-shrink, auto flex-basis*/
}

.game-field {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    /*height: 280px;*/
    border: 1px solid black;
}

footer {
    height: 20%;
    flex: 0 0 auto; /*0 flex-grow, 0 flex-shrink, auto flex-basis*/
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/*Стили игровых кнопок*/
button {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    background: #adadad;
    box-shadow:
            inset 0 0 3px 1px rgba(0,0,0,.8),
            inset rgba(0,0,0,.3) -5px -5px 8px 5px,
            inset rgba(255,255,255,.5) 5px 5px 8px 5px,
            1px 1px 1px rgba(255,255,255,.1),
            -2px -2px 5px rgba(0,0,0,.5);
    transition: .2s;
}

button:hover {
    background: rgb(20, 130, 20);
}

button:active {
    background: rgb(0, 110, 0);
    box-shadow:
            inset 0 0 5px 3px rgba(0,0,0,.8),
            inset rgba(0,0,0,.3) -5px -5px 8px 5px,
            inset rgba(255,255,255,.5) 5px 5px 8px 5px,
            1px 1px 1px rgba(255,255,255,.2),
            -2px -2px 5px rgba(0,0,0,.5);
}

button .opened {
    background: #adadad;
    box-shadow: none;
}

.bomb {
    background-image: url("./images/bomb.png");
    background-size: contain;
    background-color: #d61e39;
}

.bomb:hover {
    background-image: url("./images/bomb.png");
    background-size: contain;
}

.flag {
    background-image: url("./images/flag.png");
    background-size: contain;
}

.flag:hover {
    background-image: url("./images/flag.png");
    background-size: contain;
}

.number1 {
    font-family: Comic Sans, cursive;
    font-size: 1.25em;
    font-weight: bold;
    color: blue;
    vertical-align: middle;
    text-align: center;
}

.number2 {
    font-family: Comic Sans, cursive;
    font-size: 1.25em;
    font-weight: bold;
    color: green;
    vertical-align: middle;
    text-align: center;
}

.number3 {
    font-family: Comic Sans, cursive;
    font-size: 1.25em;
    font-weight: bold;
    color: #d61e39;
    vertical-align: middle;
    text-align: center;
}


button:disabled {
    background-color: #5ed62f;
    box-shadow: inset 0 0 0.125em 0.075em rgba(45, 173, 19, 0.8),
    inset rgba(42, 173, 92, 0.06) -0.125em -0.125em 0.2em 0.125em,
    inset rgba(255, 255, 255, .5) 0.125em 0.125em 0.2em 0.125em,
    0.025em 0.025em 0.025em rgba(255, 255, 255, .2),
    -0.05em -0.05em 0.125em rgba(0, 0, 0, 0.25);
}

.bomb:disabled {
    background-image: url("./images/explosion.png");
    background-size: contain;
    background-color: #d61e39;
    box-shadow: none;
}

button:disabled:hover,
button.number1:disabled:hover,
button.number2:disabled:hover,
button.number3:disabled:hover {
    background: #5ed62f;
}

.bomb:disabled:hover {
    background-image: url("./images/explosion.png");
    background-size: contain;
    background-color: #d61e39;
}

.flag:disabled:hover {
    background-image: url("./images/flag.png");
    background-size: contain;
}


/*Анимация кнопки Новая игра*/

.rules {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 45%;
    height: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.35em;
    font-size: 1em;
    transform-style: preserve-3d;
    perspective: 500px;
    transform-origin: center center;
    cursor: pointer;
    font-family: 'Baloo Tamma', cursive;
}

.settings {
    position: absolute;
    top: 20%;
    left: 75%;
    width: 45%;
    height: 15%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.35em;
    font-size: 1em;
    transform-style: preserve-3d;
    perspective: 500px;
    transform-origin: center center;
    cursor: pointer;
    font-family: 'Baloo Tamma', cursive;
}

.new-game {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 90%;
    height: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.75em;
    font-size: 1.5em;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: center center;
    cursor: pointer;
    font-family: 'Baloo Tamma', cursive;
}

.btnflip-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, .05);
    transform-style: preserve-3d;
    backface-visibility: visible;
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
}

.btnflip-item:active {
    box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, .8),
    inset rgba(0, 0, 0, .3) -5px -5px 8px 5px,
    inset rgba(255, 255, 255, .5) 5px 5px 8px 5px,
    1px 1px 1px rgba(255, 255, 255, .2),
    -2px -2px 5px rgba(0, 0, 0, .5);
    transition: none;
}

.btnflip-item.btnflip__front {
    transform: rotateX(0deg) translateZ(20px);

}

.btnflip:hover .btnflip-item.btnflip__front {
    transform: rotateX(-180deg) translateZ(20px);
}

.btnflip-item.btnflip__back {
    transform: rotateX(180deg) translateZ(20px);

}

.btnflip:hover .btnflip-item.btnflip__back {
    transform: rotateX(0deg) translateZ(20px);

}

 .btnflip-item.btnflip__center {
    background: radial-gradient(#08bd21, #325ac3);
    border: 1px solid #117535;
}

.btnflip-item.btnflip__center::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#08bd21, #325ac3);
    border-radius: 30px;
    transform: translateZ(-1px);
    border: 1px solid #117535;
}

.btnflip:hover .btnflip-item.btnflip__center {
    transform: rotateX(-180deg);
}

/*Всплывающие окно Победа!*/
.dialog-win{
    position: relative;
    width: 40%;
    height: 60%;
    background: url(./images/win1.jpg) no-repeat;
    background-size: cover;
    border: none;
}
.dialog-win > h1 {
    text-align: center;
    font-family: 'Baloo Tamma', cursive;
    color: #fff;
    font-size: 5em;
    letter-spacing: 0.0625em;
    text-shadow: -0.0125em -0.0125em 0 #2196f3, 0.0375em
    0.0375em 0 #2196f3, 0.075em 0.075em 0 #0d47a1;
}

/*Всплывающие окно Проишрыш!*/
.dialog-game-over{
    position: relative;
    width: 40%;
    height: 60%;
    background-image: url(https://media.giphy.com/media/3oKIPwoeGErMmaI43S/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

}
.dialog-game-over > h1 {
    text-align: center;
    vertical-align: center;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 5em;
    line-height: .75;
}

/*Кнопка новая игра в dialog-win & dialog-game-over*/
.new-game-again{
    position: absolute;
    bottom: 10%;
    right: 25%;
    width: 50%;
    height: 10%;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    border-radius:30px;
    cursor: pointer;
    font-family: 'Baloo Tamma', cursive;
}

.new-game-again:hover{
    background-color: #d61e39;
}

/*Всплывающие окно Правила*/
.dialog-rules{
    position: fixed;
    top: 25%;
    left: 70%;
    max-width: 20vw;
    max-height: 60%;
    /*transform: translate(-50%, -50%);*/
    overflow: auto;
    background-image: url(./images/dialog-rules-background2.jpg);
    background-size: contain;
    border: none;
}
.dialog-rules::-webkit-scrollbar{
    width:5%;
}
.dialog-rules::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.46);
}

.dialog-rules > h1 {
    text-align: center;
    font-family: 'Baloo Tamma', cursive;
    color: #fff;
    font-size: 1.875em; /* 30px*/
    text-shadow: -0.0333em -0.0333em 0 #2196f3, 0.1em 0.1em 0 #2196f3,
    0.2em 0.2em 0 #0d47a1; /* 1px, 1px, 3px, 3px, 6px, 6px*/
}
.dialog-rules > p {
    font-family: 'Baloo Tamma', cursive;
    font-size: 1.25em;
    text-align: center;
    color: white;
}
.dialog-rules > ul{
    font-size: 1em;
    font-family: 'Baloo Tamma', cursive;
    color: white;
}
.dialog-rules  a {
    width: 20%;
    height: 10%;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Baloo Tamma', cursive;
    color: white;
}

/*Крестик закрытия*/
.close {
   display: block;
    position: absolute;
    right: 3%;
    top: 3%;
    width: 5%;
    height: 5%;
    opacity: 0.5;
    cursor: pointer;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    top: 5%;
    right: 95%;
    content: ' ';
    height: 40px;
    width: 5px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

