html, body {
    height: 100vh;
    display: flex; /*Превращаем контейнер в flexBox*/
    flex-direction: column;
    background: url("./images/background-grace.jpg") no-repeat;
    background-size: 100%;
}

header{
    display: flex;
    height:100px;
    /*background-image: url("./images/background-sky.jpg");*/
    justify-content: space-around;
    align-items: center;
    flex-grow: 0; /*Запрещаем увеличиваться*/
    flex-shrink: 0;
}
header .logo{
    font-family: "Comic Sans MS", cursive;
    font-size: 90px;
}
.new-game{
    width: 150px;
    height: 50px;
    border-radius:9px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*padding-bottom: 50px;*/
    /*padding-top: 50px;*/
    flex-grow: 1;
    /*background-image: url("./images/background-grace.jpg");*/
}
/*.block{*/
/*    height: 100px;}*/

.palette{
    display: flex;
    flex-wrap: wrap;
    width:280px;
    /*height: 280px;*/
    border: 1px solid black;
}


footer{
    height: 75px;
    flex-grow: 0; /*Запрещаем увеличиваться*/
    flex-shrink: 0; /*Запрещаем сжиматься*/
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /*background-color: #470497;*/
    padding: 15px;
}
footer a{
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/*Стили игровых кнопок*/
button{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    background: #adadad;
    box-shadow:
            inset 0 0 3px 1px rgba(0,0,0,.8),
            inset rgba(0,0,0,.3) -5px -5px 8px 5px,
            inset rgba(255,255,255,.5) 5px 5px 8px 5px,
            1px 1px 1px rgba(255,255,255,.1),
            -2px -2px 5px rgba(0, 0, 0, 0.42);
    transition: .2s;
}
button:hover {
    background: rgb(20,130,20);
}
button:active {
    background: rgb(0,110,0);
    box-shadow:
            inset 0 0 5px 3px rgba(0,0,0,.8),
            inset rgba(0,0,0,.3) -5px -5px 8px 5px,
            inset rgba(255,255,255,.5) 5px 5px 8px 5px,
            1px 1px 1px rgba(255,255,255,.2),
            -2px -2px 5px rgba(0,0,0,.5);
}
button .opened{
    background: #adadad;
    box-shadow: none;
}
.bomb{
    background-image: url("./images/bomb.png");
    background-size: contain;
    background-color: #d61e39;
}
.bomb:hover {
    background-image: url("./images/bomb.png");
    background-size: contain;
}

.flag {
    background-image: url("./images/flag.png");
    background-size: contain;
}
.flag:hover {
    background-image: url("./images/flag.png");
    background-size: contain;
}

.number1{
    font-family: Comic Sans, cursive;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    vertical-align: middle;
    text-align: center;
 }
.number2{
    font-family: Comic Sans, cursive;
    font-size: 20px;
    font-weight: bold;
    color: green;
    vertical-align: middle;
    text-align: center;
}
.number3 {
    font-family: Comic Sans, cursive;
    font-size: 20px;
    font-weight: bold;
    color: #d61e39;
    vertical-align: middle;
    text-align: center;
}


button:disabled {
    background-color: #5ed62f;
    box-shadow:
            inset 0 0 5px 3px rgba(45, 173, 19, 0.8),
            inset rgba(42, 173, 92, 0.06) -5px -5px 8px 5px,
            inset rgba(255,255,255,.5) 5px 5px 8px 5px,
            1px 1px 1px rgba(255,255,255,.2),
            -2px -2px 5px rgba(0, 0, 0, 0.25);
}
.bomb:disabled {
    background-image: url("./images/explosion.png");
    background-size: contain;
    background-color: #d61e39;
    box-shadow: none;
}

button:disabled:hover,
button.number1:disabled:hover,
button.number2:disabled:hover,
button.number3:disabled:hover{
    background: #5ed62f;
}

.bomb:disabled:hover {
    background-image: url("./images/explosion.png");
    background-size: contain;
    background-color: #d61e39;
}

.flag:disabled:hover {
    background-image: url("./images/flag.png");
    background-size: contain;
    background: #5ed62f;
}

/*Анимация кнопок*/

